<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="5">

    <!-- First test -->
    <test name="Cucumber" parallel="methods" thread-count="4">
        <classes>
            <class name="runners.MainRunner"/>
        </classes>
    </test>

    <!-- Second test with Allure listener -->
    <test name="Test">
        <listeners>
            <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        </listeners>
        <classes>
            <class name="runners.MainRunner"/>
        </classes>
    </test>

</suite>
